body {
    font-family: arial,sans-serif;
}

.table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-table {
    position: relative;
    max-width: 50%;
    border-collapse: collapse;
    width: 100%;
}

.data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    padding: 0 10px;
    height: 40px;
    position: absolute;
    width: 100%;

    /*transition: background-color 2s;*/
}

.data-row.greyed {
    background-color: #f2f2f2;
}

.data-row:hover {
    background-color: #D8D8D8;
}

.data-row.header {
    background-color: #4CAF50;
}
