body {
    font-family: arial,sans-serif;
    min-width: 320px;
}

.table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-table {
    position: relative;
    max-width: 30%;
    border-collapse: collapse;
    width: 100%;
}

.data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    padding: 0 10px;
    height: 40px;
    position: absolute;
    width: 100%;

    transition: background-color 0.5s;
}

.data-col-rank {
    flex-basis: 80px;

    display: flex;
    align-items: center;
}

.data-col-name {
    flex: 1;
}

.data-row.greyed {
    background-color: #f2f2f2;
}

.data-row:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

.data-row.header {
    background-color: #4CAF50;
}

.red {
    color: #F44336;
}

.green {
    color: #009688;
}

.data-position {
    margin-right: 10px;
}

@media screen and (max-width: 1366px) {
    .data-table {
        max-width: 50%;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .data-table {
        max-width: 90%;
        width: 100%;
    }
}